<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>99 Gist - Admin Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/admin.css" />
  </head>
  <body>
    <header>
      <h1>99 Gist Admin Dashboard</h1>
    </header>
    <main>
      <h2>Welcome to the Admin Dashboard</h2>
      <p>From here, you can:</p>
      <ul>
        <li><a href="/admin/createblog">Create a New Blog</a></li>
        <li><a href="/admin/showblog">check list of Blogs</a></li>
        <li><a href="/admin/showblogs">Delete Blog</a></li>
        <li><a href="/admin/showblogs">Create Admin</a></li>
      </ul>
    </main>
  </body>
</html>
